{% extends 'layout.html' %}
{% block title %}Create Wanted{% endblock %}
{% block content %}
    <h1>Create a New Waned Entry</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <br>
        <label for="wanted_name">Wanted Name:</label>
        <input type="text" id="wanted_name" name="wanted_name" required />
        <br>
        <label for="nb">NB:</label>
        <input type="text" id="nb" name="nb" required />
        <br>
        <label for="image">Image:</label>
        <input type="file" id="image" name="image" accept="image/*" required />
        <br>
        <input type="submit" value="Create Wanted Entry" />
    </form>
{% endblock %}
