{% extends 'layout.html' %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block extra_css %}
    <link href="{% static 'tracker/css/dashboard.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <h1>Dashboard</h1>
    <div id="flags">
        {% csrf_token %}
        <svg xmlns="http://www.w3.org/2000/svg"
             hx-post="{% url 'tracker:set_language' %}"
             hx-vals='{"language":"fr"}'
             hx-swap="none"
             viewBox="0 0 900 600"
             width="40"
             height="30">
            <path fill="#CE1126" d="M0 0h900v600H0" />
            <path fill="#fff" d="M0 0h600v600H0" />
            <path fill="#002654" d="M0 0h300v600H0" />
        </svg>
    </div>
    <ul>
        <li>
            <a href="{% url 'tracker:wanted' %}">View Wanted Entry</a>
        </li>
        <li>
            <a href="{% url 'tracker:create_wanted' %}">Create Wanted Entry</a>
        </li>
    </ul>
{% endblock %}
