{% extends 'layout.html' %}
{% load static %}
{% block title %}Wanted{% endblock %}
{% block extra_css %}
    <link href="{% static 'tracker/css/wanted.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    <div class="wanted-container">
        {% for wanted in wanteds %}
            <a href="{% url 'tracker:wanted_detail' wanted.id %}">
                <div class="wanted-entry">
                    {% if wanted.image %}
                        <img src="{{ wanted.image.image.url }}" alt="{{ wanted.wanted_name }}" />
                    {% else %}
                        <p>No image available.</p>
                    {% endif %}
                </div>
            </a>
        {% empty %}
            <p>No wanted entries found.</p>
        {% endfor %}
    </div>
{% endblock %}
