{% extends 'layout.html' %}
{% load static %}
{% block title %}{{ wanted.name }}{% endblock %}
{% block extra_css %}
    <link href="{% static 'tracker/css/wanted-detail.css' %}" rel="stylesheet" />
    <link href="{% static 'tracker/css/wanted-list.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
    {% include 'tracker/partials/wanted-list.html' %}
    <div class="back-link">
        <a href="{% url 'tracker:wanted' %}">Back to Wanted List</a>
    </div>
    <div class="wanted-detail-container">
        <h1>{{ wanted.name }}</h1>
        <div class="wanted-info">
            <div class="wanted-section open-value-modal"
                 data-name="{{ wanted.name }}"
                 data-id="{{ wanted.id }}">
                <div class="wanted-image">
                    <img src="{{ wanted.image.image.url }}" alt="{{ wanted.wanted_name }}" />
                </div>
                <div class="wanted-price" id="resource-price-{{ wanted.id }}">
                    {% include 'tracker/partials/resource-price.html'  with resource=wanted %}
                </div>
                <div class="wanted-sell">
                    <h2>Last Sell : {{ wanted.last_sell_value }} K</h2>
                    <h3>Average Sell : {{ wanted.average_sell_values }} K</h3>
                </div>
            </div>
            <div class="cards-section">
                {% for card in cards %}
                    <div class="card open-value-modal"
                         data-name="{{ card.name }}"
                         data-id="{{ card.id }}">
                        <div class="card-image">
                            <img src="{{ card.image.image.url }}" alt="Fragment {{ forloop.counter }}" />
                        </div>
                        <div class="card-info">
                            <h3>{{ card.name }}</h3>
                        </div>
                        <div class="card-price" id="resource-price-{{ card.id }}">
                            {% include 'tracker/partials/resource-price.html' with resource=card %}
                        </div>
                    </div>
                {% empty %}
                    <p>No card available.</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'tracker/partials/value_modal.html' %}
{% endblock %}
