.resource-page-container {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  height: 100%;
}
.resource-list-container {
  flex: 0 0 180px;
  height: 99%;
}

.resource-detail-container {
  flex: 1;
}

.resource-detail-container {
  margin: 0 auto;
}

.resource-detail-container h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--font-color);
}

.open-value-modal,
.open-modal {
  cursor: pointer;
}
.good-price {
  color: var(--font-color-success) !important;
}

.bad-price {
  color: var(--font-color-error) !important;
}

.chart-container {
  flex: 7;
}

.resource-header {
  display: flex;
}

.resource-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.empty-indicator {
  font-size: 0.8rem;
  font-style: italic;
}
