.resource-page-container {
  display: flex;
  gap: 2rem;
  padding: 0 2rem;
  height: 100%;
}
.resource-list-container {
  flex: 0 0 180px;
  height: 99%;
}

.resource-detail-container {
  flex: 1;
}
