.wanted-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 1rem;
}

.wanted-entry {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--box-shadow);
  height: 70px;
  width: 70px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.wanted-entry:hover {
  transform: translateY(-8px);
  box-shadow: var(--box-shadow-hover);
}

.wanted-entry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.wanted-entry p {
  padding: 2rem;
  text-align: center;
  color: var(--font-color);
  font-size: 0.95rem;
}
