nav {
  background: #34495e;
  box-shadow: var(--box-shadow);
}

nav a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: var(--primary-color-hover);
}

nav > * {
  display: inline-block;
}
