<canvas id="priceChart-{{ id }}"></canvas>
{{ labels|json_script:"chart_labels_"|stringformat:"s"|add:id }}
{{ data|json_script:"chart_data_"|stringformat:"s"|add:id }}
<script>
    function initChart() {

        let ctx = document.getElementById("priceChart-{{ id }}").getContext("2d");
        let labels = JSON.parse(document.getElementById('chart_labels_{{ id }}').textContent);
        let data = JSON.parse(document.getElementById('chart_data_{{ id }}').textContent);

    new Chart(ctx, {
        type: "line",
        data: {
            labels: labels,
            datasets: [
                {
                    label: "Price",
                    data: data,
                    borderColor: "rgba(75, 192, 192, 1)",
                    backgroundColor: "rgba(75, 192, 192, 0.2)",
                    tension: 0.1,
                },
            ],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: "right",
                },
                title: {
                    display: false,
                },
            },
        },
    });
  };
    initChart();
</script>
