<dialog id="cardDialog" class="cardDialog" closedby="any">
    <div class="dialog-content">
        <h2>Enter the current value for :</h2>
        <h3 id="modalName"></h3>
        <form hx-post="{% url 'tracker:add_value' 0 %}"
              class="modal-form"
              id="valueForm">
            {% csrf_token %}
            <input type="hidden" id="item_id" name="item_id" value="" />
            {{ form }}
            <input type="submit" value="Submit" />
        </form>
    </div>
</dialog>
